@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-btn {
  @apply px-5 block bg-blue-900 max-w-max hover:bg-black duration-500 mt-4 py-2 text-white hover:scale-105;
}

.markdown ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin: 20px 0;
}
.markdown ul li {
  margin: 10px 0;
}

* > * {
  font-family: "Poppins", sans-serif;
}
